/*! footer */
.l-footer{
  color: $COLOR_BASIC_WHITE;
  background-color: $COLOR_BLACK;
  text-align: center;
}
.l-footer__text{
  font-size: 1.5rem;
  padding: 20px 0;
  display: inline-block;
}
/* end */